@import url(postFeedbacks.css);
@import url(recommended-event.css);
@import url(right-ad.css);

html, body {
    background: #eee;
    font: 12px "Noto Sans", "Noto Sans CJK TC", "Noto Sans CJK JP", "Noto Sans CJK SC", sans-serif;
}

body, #top {
    min-width: 1130px;
}

#context {
    margin-top: 64px;
    padding-top: 10px;
}

#context:after {
    clear: both;
    margin-top: 20px;
    width: 100%;
    content: '';
    display: block;
}

#mainContent {
    width: 700px;
    padding: 0 10px;
}

#top {
    width: 100vw;
    position: fixed;
    top: 0;
    height: 64px;
    background: #FF9326;
    z-index: 1;
}

#top .board {
    margin: 0;
    display: inline-block;
    height: 64px;
    line-height: 64px;
    padding: 0 10px;
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
}

#top .board:hover {
    background: rgba(0,0,0,.25);
}

#top .board.active {
    background: rgba(0,0,0,.125);
}

#top .board.active:hover {
    background: rgba(0,0,0,.375);
}

#top .board:first-of-type {
    margin-left: 20px;
}

.widthBound {
    width: 900px;
    margin: 0 auto;
    padding: 0;
}

.logo {
    margin: 11px 0 12px 0;
    width: 104px;
    line-height: 41px;
    font-size: 36px;
    color: transparent;
    background: url(logo.png) no-repeat;
    cursor: context-menu;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img.profile-small {
    width: 46px;
    height: 46px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border: 4px transparent solid;
    position: relative;
}

#profile-set-panel {
    display: none;

    float: right;
    position: relative;
    right: -60px;
    top: 0;
    width: 300px;
    z-index: 1;
    color: #ccc;
    font-family: 'PT Sans', sans-serif;
}

#profile-set-panel li {
    background: #666;
}

#profile-set-panel li a {
    display: block;
    padding: 5px 10px;
    height: 54px;
    color: #ccc;
    text-decoration: none;
}

#profile-set-panel li:not(:first-child) {
    font-size: 1.5em;
    line-height: 2.5em;
}

#profile-set-panel li:hover {
    background: #777;
}

#profile-set-panel .menu-messages-count {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    float: right;
}

#profile-set-panel .menu-messages-count:after {
    content: ' new';
    font: 400 0.5em italic;
}

#top .profile-messages-count-mini {
    float: right;
    position: relative;
    right: 0;
    width: 16px;
    height: 16px;
    margin: 43px 0 0 -16px;
    background: #f00;
    color: #fff;
    border-radius: 4px;
    z-index: 3;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    cursor: context-menu;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#top .profile {
    float: right;
    margin: 5px 0;
    z-index: 2;
}

#top .logo {
    float: left;
}

#user-add {
    position: fixed;
    bottom: 24px;
    right: 40px;
    background: #FF9326 url(add.png) no-repeat center;
    border-radius: 33px;
    width: 66px;
    height: 66px;
    cursor: hand;
    -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

.postItem:first-of-type {
    margin-top: 0;
}

.postItem .profile {
    position: relative;
    left: -60px;
    margin-right: -60px;
    float: left;
    top: -10px;
}

.postItem {
    width: 100%;
    margin: 10px 0;
    background: #DDD;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

.postPrimary {
    background: #FFD5AA;
    -webkit-box-shadow: 0 0 5px rgba(140, 70, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(140, 70, 0, 0.5);
    box-shadow: 0 0 5px rgba(140, 70, 0, 0.5);
}

.postEtc {
}

.postTitle {
    font-size: 2em;
    font-weight: 600;
}

.postItem .postContent {
    margin: 0 20px;
}

.postItem:after, .postContent:after {
    display: block;
    content: '';
    clear:both;
}

.postSell {
    padding: 0;
}

.postSell img {
    width: 100%;
}

.postDateTime, .postLocation {
    color: #333;
}

.postDateTime:before, .postLocation:before {
    content: "";
    float: left;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    background: url(icons.png) no-repeat;
}

.postDateTime:before {
    background-position: 0 0;
}

.postLocation:before {
    background-position: 0 -14px;
}

.postDateTime, .postLocation {
    margin-top: 10px;
    height: 16px;
    line-height: 16px;
}

span.postPerson, span.postAuthor {
    color: #666;
}

span.postPerson {
    display: block;
}

.article-content {
    color: #333;
    font-size: 1.15em;
    text-align: justify;
}

.article-content > h3 {
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: 500;
}

.article-content > .etc > a {
    color: #cf7900;
    text-decoration: none;
}

.article-content > .etc > a:hover {
    text-decoration: solid underline;
}

.postCover {
    width: 100%;
    height: 280px;
    background-color: #222;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px 0;
}