html, body {
    background: #eee;
    font: 12px "Noto Sans", "Noto Sans CJK TC", "Noto Sans CJK JP", "Noto Sans CJK SC", sans-serif;
}

body, #top {
    min-width: 1130px;
}

.ad-on-the-right {
    background-color: #fff;
    float: right;
    width: 180px;
    height: 75vh;
    margin-top: 15px;
}

#mainContent {
    width: 700px;
    margin-top: 64px;
    padding: 10px;
    /*border: 1px #f00 dotted;*/
}

#top {
    width: 100vw;
    position: fixed;
    top: 0;
    height: 64px;
    background: #FF9326;
    z-index: 1;
}

#top .board {
    line-height: 64px;
    margin: 10px;
}

#top .board:first-of-type {
    margin-left: 20px;
}

#top .board a {
    font-size: 2em;
    text-decoration: none;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
}

.widthBound {
    width: 900px;
    margin: 0 auto;
    padding: 0;
}

.logo {
    margin: 11px 0 12px 0;
    width: 104px;
    line-height: 41px;
    font-size: 36px;
    color: transparent;
    background: url(logo.png) no-repeat;
}

img.profile-small {
    width: 46px;
    height: 46px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border: 4px transparent solid;
    position: relative;
}

#profile-set-panel {
    display: none;

    float: right;
    background: #666;
    position: relative;
    right: -60px;
    top: 0;
    width: 300px;
    height: 256px;
    z-index: 1;
    color: #ccc;
    font-family: 'PT Sans', sans-serif;
}

#profile-set-panel li a {
    display: block;
    padding: 5px 10px;
    height: 54px;
    color: #ccc;
    text-decoration: none;
}

#profile-set-panel li:not(:first-child) {
    font-size: 1.5em;
    line-height: 2.5em;
}

#profile-set-panel li:hover {
    background: #777;
}

#top .profile {
    float: right;
    margin: 5px 0;
    z-index: 2;
}

#top .logo {
    float: left;
}

#user-add {
    position: fixed;
    bottom: 24px;
    right: 40px;
    background: #FF9326 url(add.png) no-repeat center;
    border-radius: 33px;
    width: 66px;
    height: 66px;
    cursor: hand;
    -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

.postItem .profile {
    position: relative;
    left: -60px;
    margin-right: -60px;
    float: left;
    top: -10px;
}

.postItem {
    width: 100%;
    margin: 10px 0;
    background: #DDD;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

.postUser {
    height: 200px;
    background: #FFD5AA;
    -webkit-box-shadow: 0 0 5px rgba(140, 70, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(140, 70, 0, 0.5);
    box-shadow: 0 0 5px rgba(140, 70, 0, 0.5);
}

.postNews {
}

.postTitle {
    font-size: 2em;
    font-weight: 600;
}

.postItem .postContent {
    margin: 0 20px;
}

.postSell {
    padding: 0;
}

.postSell img {
    width: 100%;
}

.postDateTime, .postLocation {
    color: #333;
}

.postDateTime:before, .postLocation:before {
    content: "";
    float: left;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    background: url(icons.png) no-repeat;
}

.postDateTime:before {
    background-position: 0 0;
}

.postLocation:before {
    background-position: 0 -14px;
}

.postDateTime, .postLocation {
    margin-top: 10px;
    height: 16px;
    line-height: 16px;
}